
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(125, 116, 207);
    height: 100vh;
    width: 100vw;
}
.mainbox{
    position: relative;
    height: 660px;
    width: 360px;
    background-color: aliceblue;
    margin-top: 15vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
}
.mainbox img{
    width: 360px;
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
}
.mainbox img:hover{

    transform: scale(1.02);
    transition-duration: 0.6s;
}
.mainbox h2{
  font-weight: bolder;
  margin-top: 10px;
  font-size: 30px;
}
.mainbox p{
    font-style: initial;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bold;
    color: rgb(33, 39, 72);
}
.minicont{
   
    display: flex;
    flex-direction: row;
    /* margin-left: 15%;
    margin-right: 15%; */
    height: 50px;
    width: 300px;
    background-color: rgb(91, 68, 38);
    border-radius: 8%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}
.minicont img{
height: 40px;
width: 40px;
border-radius: 50%;
/* margin-left: 6%; */
}
.minicont b{
    font-weight: bolder;
    color: aliceblue;
}
.minicont a{
    text-decoration: none;
    color: beige;
    font-size: 20px
}
.paymntcont{
    display: flex;
    
   
    height: 50px;
    width: 300px;
    background-color: rgb(17, 17, 57);
    border-radius: 8%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 2px 3px rgb(58, 56, 56);
   
}
.paymntcont a{
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
}
.cancle{
    text-decoration: none;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    color:rgb(95, 89, 89);
}